@import "tailwindcss";

/* smooth scrolling  */
html {
  scroll-behavior: smooth;
}

@utility container {
  margin-inline: auto;
}

@theme {
  --color-bgOne: rgb(28, 26, 31);
  --color-bgTwo: rgb(18, 18, 18);
  --color-bgThree: rgb(27, 27, 27);
  --color-bgFour: rgb(213, 163, 187);
  --color-bgFive: rgb(229, 221, 210);
  --color-textOne: #f96802;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-funnel: "Funnel Display", sans-serif;
}
::-webkit-scrollbar {
  width: 1px;
}

/* bannerImg.......  */
/* From Uiverse.io by janisar-hyder */
img {
  display: block;
  max-width: 100%;
}

.stack {
  width: 80%;
  max-width: 440px;
  transition: 0.25s ease;
  &:hover {
    transform: rotate(5deg);
    .card:before {
      transform: translatey(-2%) rotate(-4deg);
    }
    .card:after {
      transform: translatey(2%) rotate(4deg);
    }
  }
}

.card {
  aspect-ratio: 3 / 2;
  border: 4px solid;
  background-color: #fff;
  position: relative;
  transition: 0.15s ease;
  cursor: pointer;
  padding: 5% 5% 15% 5%;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 4px solid;
    background-color: #fff;
    transform-origin: center center;
    z-index: -1;
    transition: 0.15s ease;
    top: 0;
    left: 0;
  }

  &:before {
    transform: translatey(-2%) rotate(-6deg);
  }

  &:after {
    transform: translatey(2%) rotate(6deg);
  }
}
.image {
  width: 100%;
  border: 4px solid;
  background-color: #eee;
  /* aspect-ratio: 1 / 1; */
  position: relative;
}

.browser-warning {
  margin-bottom: 4rem;
}

@supports (aspect-ratio: 1 / 1) {
  .browser-warning {
    display: none;
  }
}

/* ....marquee ............  */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;

  span {
    text-transform: uppercase;
    will-change: transform;
    transform: translateX(0);
    white-space: nowrap;
    animation: marquee 20s linear infinite;

    font-family: "Gravitas One", Helvetica, Arial, sans-serif;
    font-weight: 900;
    color: #98c9ff;
  }
}

/* ......my info card */
/* From Uiverse.io by vaibhavchandranv */
.myinfo_card {
  font-family: Montserrat, sans-serif;
  width: 100%;
  /* height: 100%; */
  translate: -6px -6px;
  background: #eedfe5;
  border: 3px solid #000000;
  box-shadow: 12px 12px 0 #000000;
  overflow: hidden;
  transition: all 0.3s ease;
}

.myinfo_head {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 900;
  width: 100%;
  height: 35px;
  background: #ffffff;
  padding: 5px 12px;
  color: #915757;
  border-bottom: 3px solid #000000;
}

.myinfo_content {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
}

.myinfo_button {
  padding: 5px 10px;
  border: 3px solid #000000;
  box-shadow: 3px 3px 0 #000000;
  font-weight: 750;
  background: #4ade80;
  transition: all 0.3s ease;
  cursor: pointer;
}

.myinfo_button:hover {
  translate: 1.5px 1.5px;
  box-shadow: 1.5px 1.5px 0 #000000;
  background: #1ac2ff;
}

.myinfo_button:active {
  translate: 3px 3px;
  box-shadow: 0 0 0 #000000;
}

.myinfo_card:hover {
  translate: -6px;
}

/* .......Hover social buttons ..........  */
/* From Uiverse.io by adamgiebl */
.fooBut {
  transform: rotate(-25deg) skew(25deg);
  transform-style: preserve-3d;
  position: relative;
  list-style: none;
  width: 108px;
  height: 32px;
  border: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
}

.fooBut:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform: skewX(-41deg);
}

.fooBut:after {
  content: "";
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform: skewY(-49deg);
}

.fooBut .fooSpan {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a2a2a;
  color: #fff;
  font-size: 25px;
  transition: 1.1s ease-out;
}

.fooBut:hover .fooSpan {
  z-index: 1000;
  transition: 0.3s;
  color: #fff;
}

.fooBut:hover .fooSpan:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.fooBut:hover .fooSpan:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

.fooBut:hover .fooSpan:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

.fooBut:hover .fooSpan:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

.fooBut:hover .fooSpan:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.2;
}

.fooBut:active .fooSpan:nth-child(5) {
  transform: translate(20px, -20px);
  opacity: 1;
}

.fooBut:active .fooSpan:nth-child(4) {
  transform: translate(15px, -15px);
}

.fooBut:active .fooSpan:nth-child(3) {
  transform: translate(10px, -10px);
}

.fooBut:active .fooSpan:nth-child(2) {
  transform: translate(5px, -5px);
}

.fooBut:active .fooSpan:nth-child(1) {
  transform: translate(0px, 0px);
}

.fooBut:hover .fooSpan {
  background: #52e19f;
}
